version: "3.9"

services:
  app1:
    build: .
    container_name: app1
    environment:
      - APP_NAME=APP1
    ports:
      - "3001:3000"   # access directly via localhost:3001

  app2:
    build: .
    container_name: app2
    environment:
      - APP_NAME=APP2
    ports:
      - "3002:3000"   # access directly via localhost:3002

  app3:
    build: .
    container_name: app3
    environment:
      - APP_NAME=APP3
    ports:
      - "3003:3000"   # access directly via localhost:3003

  nginx:
    image: nginx:latest
    container_name: nginx_lb
    ports:
      - "8080:80"     # load-balanced endpoint at localhost:8080
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1
      - app2
      - app3

#docker-compose up --build








# version: "3.9"

# services:
#   app1:
#     build: .
#     container_name: app1
#     environment:
#       - APP_NAME=APP1

#   app2:
#     build: .
#     container_name: app2
#     environment:
#       - APP_NAME=APP2

#   app3:
#     build: .
#     container_name: app3
#     environment:
#       - APP_NAME=APP3

#   nginx:
#     image: nginx:latest
#     container_name: nginx_lb
#     ports:
#       - "8080:80"
#     volumes:
#       - ./nginx.conf:/etc/nginx/nginx.conf:ro
#     depends_on:
#       - app1
#       - app2
#       - app3
